/* jqm docs css

Beware: lots of last-minute CSS going on in here 
cobblers, shoes, 
*/
body { background: #f9f9f9; padding:13px;}
body.ui-mobile-viewport { padding: 0; }
/*body, input, textarea, select, button { font-family: Helvetica, Arial, san-serif; }*/
body, input, textarea, select, button, div { font-family: "Segoe Print",sofiaregular,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
/*.ui-mobile .type-home .ui-content { margin: 0; background: #e5e5e5 url(../pic/jqm-sitebg.png) top center repeat-x; }*/
.ui-mobile .type-home .ui-header, .ui-header .ui-btn, .ui-footer .ui-btn { margin: 0; background: #333 /*url(../pic/jqm-sitebg.png) top center repeat-x*/; font-size:13px;}
.ui-mobile #jqm-homeheader { padding: 40px 10px 0; text-align: center;  margin: 0 auto; }
.ui-mobile #jqm-homeheader h1 { margin: 0 0 ; }
.ui-mobile #jqm-homeheader p { margin: .3em 0 0; line-height: 1.3; font-size: .9em; font-weight: bold; color: #666; }


.ui-corner-all,  .ui-slider{-webkit-border-radius : 1.1em !important; border-radius: 1.1em!important; }
.ui-slider-handle { -webkit-border-radius : 1.9em!important; border-radius: 1.9em!important;}
.ui-slider-switch {background:#ddd !important;}
.validate  {
	border: 1px solid #044062 !important;
	background: #396b9e !important;
	font-weight: 700 !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #194b7e !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e)) !important;
	background-image: -webkit-linear-gradient(#5f9cc5,#396b9e) !important;
	background-image: -moz-linear-gradient(#5f9cc5,#396b9e) !important;
	background-image: -ms-linear-gradient(#5f9cc5,#396b9e) !important;
	background-image: -o-linear-gradient(#5f9cc5,#396b9e) !important;
	background-image: linear-gradient(#5f9cc5,#396b9e) !important;
}

#header
{
	font-family: sofiaregular, sans-serif;
	font-weight : normal;
	border-bottom: none;
	position : absolute !important;
}

#table_header 
{
	 cursor : default;
}

#table_header span
{
	 font-size:14.5px;
	 cursor : default;
}

.DateTemp, .Temp, .StatusTemp
{
	font-family: monospace;
	font-size : 14.5px !important;	
	/*font-weight: bold;*/
	border-style: solid;
	border-color: #1f1f1f;
	margin-left: 2px !important;
	background: #333 /*url(../pic/jqm-sitebg.png) top center repeat-x*/;
}


#Graphique
{
	margin-right:0px !important;
}

#navbar
 {	
	border: none !important;
 }

#navbar a
{
	font-family: sofiaregular !important;
	font-size: 11pt !important;
	font-weight: normal !important;
	border-top: 1px solid #fff;
	border-color: rgba(255,255,255,.3);
	border-left-color: black;
	background-image: linear-gradient(#444,#2d2d2d);
}

#data-maison
{
	margin: 0 0 0px 0;	
}


.btnsmall
{
	font-family: sofiaregular !important;
}

.ui-btn-inner{font-size:14.4px;padding:.6em 0px;}


.type-home .ui-content .jqm-version {
	display: block;
	position: absolute;
	width: 96px;
	border: solid #fff;
	border-width: 2px 1px;
	padding: .25em 2.25em;
	margin: 0 15px 0 0;
	right: 0;
	top: -2px;
	background: #f7cf57;
	color: #000;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	z-index: 9;
	-webkit-transform: rotate(45deg) translate(4.8em,-1em);
	-moz-transform: rotate(45deg) translate(4.8em,-1em);
	-ms-transform: rotate(45deg) translate(4.8em,-1em);
	-o-transform: rotate(45deg) translate(4.8em,-1em);
	transform: rotate(45deg) translate(4.8em,-1em);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.40);
	box-shadow: 0 0 6px rgba(0,0,0,.40);
}

.type-home .ui-content .jqm-version b {
	color: #a21412;
	font-weight: bold;
}

.footer-docs {
	background: #eee !important; /*{a-body-background-color}*/ /*###Ajouter suite MAJ derniere version jqm */
	bottom :0;
	position:relative;
	width:100%;
	padding: 5px 0;
	clear:both;
	color:#666 !important; 
	font-weight : normal;	
	text-shadow: 0 /*{a-body-shadow-x}*/ 0px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/ !important; 
	border : none !important;
}

#div_graph .footer-docs
{
	position:relative;
}

.footer-docs p {
	font-family: sofiaregular, sans-serif !important;
	font-size: 13px !important;
}

.footer_box
{
	font-size: 1em;
	font-weight : bold;
}

.ui-mobile-viewport .footer-docs p {
	/*margin: .5em 15px;	*/
	margin: 0 9pt;
}
.ui-mobile-viewport .footer-docs p.jqm-version {
	font-weight: bold;
}


.ui-grid-a>:nth-child(n) .device_title
{
	font-size: 13.5pt;
	/*font-family: sofiaregular, sans-serif;*/
	font-family: Segoe Print;
	/*font-weight : bold;*/
	/*color:#000;*/
	color:white;
}

.part_title
{
	/*font-family: sofiaregular;*/	
	font-family: Segoe Print;
	font-size: 15px !important;
	font-weight: normal !important;
}

/*.ui-grid-a>:nth-child(n)
{
	width:49%;
	height:49%;
	font-size: 11.5pt;
	margin-left : 6px;
}*/


h2 { margin:1.2em 0 .4em 0; }
p code { font-size:1.2em; font-weight:bold; } 
h4 code {font-size:1.2em; font-weight:bold; }

dt { font-weight: bold; margin: 2em 0 .5em; }
dt code, dd code { font-size:1.3em; line-height:150%; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
strong { font-weight: bold; }

#jqm-homeheader img { width: 275px; height: 78px; margin-top:-20px; }
img { max-width: 100%; }

/* fluid images moved from jquery.mobile.core.css*/
.ui-mobile img {
	max-width: 100%;
}

.ui-header .jqm-home { top: 0; }
nav { margin: 0; }

p.intro {
	font-size: .96em;
	line-height: 1.3;
	border-top: 1px solid #75ae18;
	border-bottom: 0;
	background: none;
	margin: 1.5em 0;
	padding: 1.5em 15px 0;
}
p.intro strong {
	color:  #558e08;
}

.type-interior .content-secondary {
	border-right: 0;
	border-left: 0;
	margin: 10px -15px 0;
	background: #fff;
	border-top: 1px solid #ccc;
}
.type-home .ui-content {
	/*margin-top: 5px;*/
	overflow: hidden;
	position: relative;
}
.type-interior .ui-content {
	padding-bottom: 0;
}
.content-secondary .ui-collapsible {
	padding: 10px 15px;
}
.content-secondary .ui-collapsible-inset {
	margin: 0;
}
.content-secondary .ui-collapsible-content {
	padding: 0;
	background: none;
}
.content-secondary .ui-listview {
	margin: 0;
}
/* new API additions */

dt {  
	margin: 35px 0 15px 0; 
	background-color:#ddd; 
	font-weight:normal;
}
dt code { 
	display:inline-block; 
	font-weight:bold;
	color:#56A00E; 
	padding:3px 7px; 
	margin-right:10px; 
	background-color:#fff; 
}
dd { 
	margin-bottom:10px; 
}
dd .default { font-weight:bold; }
dd pre { 
	margin:0 0 0 0; 
}
dd code { font-weight: normal; }
dd pre code { 
	margin:0; 
	border:none; 
	font-weight:normal; 
	font-size:100%; 
	background-color:transparent; 
}
dd h4 { margin:15px 0 0 0; }
		
.localnav {
	margin:0 0 20px 0;
}
.ui-mobile-viewport .localnav li {
	float:left;
}
.localnav .ui-btn-inner { 
	padding: .6em 10px; 
	font-size:80%; 
}

/* custom dialog for the photos sharing */
.ui-dialog.dialog-actionsheet .ui-dialog-contain {
	margin-top: 0;
}

/* popup examples */
.type-interior .ui-popup-container .ui-content { padding: 15px !important; }


/* F bar theme - just for the docs overview headers */
.ui-bar-f {
	border: 1px solid #56A00E;
	background: 			#74b042;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 1px 1px #335413;	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image:         linear-gradient(#74b042, #56A00E);		
}
.ui-bar-f, 
.ui-bar-f input, 
.ui-bar-f select, 
.ui-bar-f textarea, 
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-bar-f,
.ui-bar-f .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-f .ui-link {
	color: 					#fff;
	font-weight: bold;
}
.ui-btn-up-f {
	border: 1px solid 		#3B6F07;
	background: 			#56A00E;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image:         linear-gradient(#74b042, #56A00E);
}
.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-f {
	border: 1px solid 		#3B6F07;
	background: 			#6EBC1F;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC963), to(#6EBC1F)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#8FC963, #6EBC1F); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#8FC963, #6EBC1F); /* FF3.6 */
	background-image:     -ms-linear-gradient(#8FC963, #6EBC1F); /* IE10 */
	background-image:      -o-linear-gradient(#8FC963, #6EBC1F); /* Opera 11.10+ */
	background-image:         linear-gradient(#8FC963, #6EBC1F);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-f {
	border: 1px solid 		#3B6F07;
	background: 			#3d3d3d;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#56A00E), to(#64A234)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#56A00E, #64A234); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#56A00E, #64A234); /* FF3.6 */
	background-image:     -ms-linear-gradient(#56A00E, #64A234); /* IE10 */
	background-image:      -o-linear-gradient(#56A00E, #64A234); /* Opera 11.10+ */
	background-image:         linear-gradient(#56A00E, #64A234);
}
.ui-btn-down-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}




/* FOR HAVE THE LAST THEME*/

	.ui-bar-a/*,
	.ui-body-b,
	.ui-page-theme-b .ui-body-inherit,
	html .ui-bar-b .ui-body-inherit,
	html .ui-body-b .ui-body-inherit,
	html body .ui-group-theme-b .ui-body-inherit,
	html .ui-panel-page-container-b*/ {
			background: #333; /*{a-body-background-color}*/
			border-color: #111 ;/*{a-body-border}*/
			color: #fff; /*{a-body-color}*/
			text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
			/* Copied from 1.3 custom theme: */
			background-image: -webkit-gradient(linear, left top, left bottom, from( #444 ), to( #090909 )); /* Saf4+, Chrome */
			background-image: -webkit-linear-gradient( #444, #090909 ); /* Chrome 10+, Saf5.1+ */
			background-image:    -moz-linear-gradient( #444, #090909 ); /* FF3.6 */
			background-image:     -ms-linear-gradient( #444, #090909 ); /* IE10 */
			background-image:      -o-linear-gradient( #444, #090909 ); /* Opera 11.10+ */
			background-image:         linear-gradient( #444, #090909 )
	}

	.ui-body-b
	{
		border-color:1px solid #ccc;
	}
	
	.ui-page-theme-d
	{
		border: 1px solid #044062 !important;
		background: #396b9e !important;
		font-weight: 700 !important;
		color: #fff !important;
		text-shadow: 0 1px 0 #194b7e !important;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e)) !important;
		background-image: -webkit-linear-gradient(#5f9cc5,#396b9e) !important;
		background-image: -moz-linear-gradient(#5f9cc5,#396b9e) !important;
		background-image: -ms-linear-gradient(#5f9cc5,#396b9e) !important;
		background-image: -o-linear-gradient(#5f9cc5,#396b9e) !important;
		background-image: linear-gradient(#5f9cc5,#396b9e) !important;
	}


#deezer_plugin
{
	display:none;
	position: absolute;			
}

/* docs site layout */

@media all and (min-width:450px) {
	#deezer_plugin
	{
		display:none;
		position: absolute;
	}
	
	#content_home
	{
		padding-top: 0.7%;
		margin-left: 0px;
	}
	.ui-mobile-viewport .footer-docs {
		overflow: hidden;		
	}
	.ui-mobile-viewport .footer-docs p {
		/*margin: 1em 15px;*/
		margin: 0 9pt;
		float: left;		
	}
	.ui-mobile-viewport .footer-docs p.jqm-version {
		float: right;
		font-weight: normal;
	}
	
	.part_title
	{
		font-family: sofiaregular;
		font-size: 15px !important;
		font-weight: normal !important;
	}

}

@media all and (max-width:1050px) {
/*	.ui-grid-a .ui-block-a
	{
		width:49%;
		height:49%;
	}
	
	.ui-grid-b .ui-block-b
	{
		width:100%;
		height:49%;
	}
	
	.ui-grid-a>:nth-child(n)
	{
		width:49%;
		height:49%;
		font-size: 11.5pt;
		margin-left : 5px;
	}*/
}

@media all and (min-width:1050px) {
	
	#table_header td
	{
		width:33.33% !important;
	}
	
	#td_time 
	{
		text-align:center;
	}
	
	
	.ui-grid-a>:nth-child(n)
	{
		/*width:49%;*/
		min-width:49%;
		width: auto;
		height:49%;
		/*font-size: 11.5pt;*/
		font-size: 12.5pt;
		margin-left : 4px;
	}
	
	.part_title
	{
		font-family: sofiaregular;
		font-size: 18px !important;
		font-weight: normal !important;
	}
}

@media all and (max-width:1040px) {
	
	.ui-grid-a>:nth-child(n)
	{
		/*width:49%;*/
		min-width:49%;
		width: auto;
		height:49%;
		/*font-size: 11.5pt;*/
		font-size: 12.5pt;
		margin-left : 3px;
	}
}

@media all and (min-width:1200px) and (max-width:1300px) {
	#table_header span
	{
		 font-size:16.5px;
	}
	
	.ui-grid-a>:nth-child(n)
	{
		/*width:49%;*/
		min-width:49%;
		width: auto;
		height:49%;
		/*font-size: 11.5pt;*/
		font-size: 12.5pt;
		margin-left : 3px;
	}
		
	.part_title
	{
		font-family: sofiaregular;
		font-size: 18px !important;
		font-weight: normal !important;
	}
}

@media all and (min-width:1300px) and (max-width:1400px) {

	#table_header span
	{
		 font-size:16.5px;
	}
	
	.ui-grid-a>:nth-child(n)
	{
		/*width:49%;*/
		min-width:49%;
		width: auto;

		height:49%;
		/*font-size: 11.5pt;*/
		font-size: 12.5pt;
		margin-left : 3.5px;
	}
		
	.part_title
	{
		font-family: sofiaregular;
		font-size: 18px !important;
		font-weight: normal !important;
	}
}


@media all and (min-width:1400px) and (max-width:1530px) {
	#table_header span
	{
		 font-size:16.5px;
	}
	
	.ui-grid-a>:nth-child(n)
	{
		/*width:49%;*/
		min-width:49%;
		width:auto;

		height:49%;
		/*font-size: 11.5pt;*/
		font-size: 12.5pt;
		margin-left : 3.9px;
	}
		
	.part_title
	{
		font-family: sofiaregular;
		font-size: 18px !important;
		font-weight: normal !important;
	}
}


@media all and (min-width:1530px)  {
	#table_header span
	{
		 font-size:16.5px;
	}
	
	.ui-grid-a>:nth-child(n)
	{
		min-width:49%;
		width :auto ;
		height:49%;
		/*font-size: 11.5pt;*/
		font-size: 12.5pt;
		margin-left : 4.3px;
		margin-bottom : 8px;
	}
		
	.part_title
	{
		font-family: sofiaregular;
		font-size: 18px !important;
		font-weight: normal !important;
	}
}

@media all and (max-width:450px) {

	#table_header span
	{
		 font-size:12px;
	}


	#table_header td
	{
		width:0%;
	}

	#td_time 
	{
		text-align:left;
	}
	
	.DateTemp, .Temp, .StatusTemp
	{
		font-family: monospace;
		font-size : 12.1px !important;	
		font-weight: bold;
		border-style: solid;
		border-color: #1f1f1f;
		margin-left: 2px !important;
		background: #333 /*url(../pic/jqm-sitebg.png) top center repeat-x*/;
	}
	
	.ui-mobile .type-home .ui-header {font-size:10pt;}
	.content-primary span {font-size:10.1pt;}

	
	/* ############# AFFICHE LES DEVICES LES UN EN DESSOUS DES AUTRES ####################*/
	
	#content_home .ui-grid-a .ui-block-a
	{
		margin-left : 0px;
		width:98%;
		height:100%;
	}
		
	#content_home .ui-grid-b .ui-block-b
	{
		margin-top : 4px;
		margin-left : 0px;
		width:98%;
		height:100%;
	}
	
	#content_home .ui-grid-a>:nth-child(n)
	{
		margin-left : 0px;
		margin-top : 4px;
		width:98%;
		height:49%;
	}
	
	.part_title
	{
		font-family: sofiaregular;
		font-size: 15px !important;
		font-weight: normal !important;
	}
}

@media all and (min-width: 769px){

	#data-maison
	{
		margin: 0 0 0px 2%;	
	}
	
	#table_header td
	{
		width:40%;
	}
	
	#td_time 
	{
		text-align:center;
	}

	ui-controlgroup-controls
	{
		text-align:center;
	}
	
	.type-home .ui-content {
		/*margin-top: 5px;*/
	}
	.ui-mobile #jqm-homeheader {
		max-width: 340px;
	}
	p.intro {
		margin: 2em 0;
	}
	.type-home .ui-content,
	.type-interior > .ui-content {
		padding: 0;
	}
	.type-interior > .ui-content {
		overflow: hidden;
	}
	.content-secondary {
		text-align: left;
		float: left;
		width: 31%;
	}
	.content-secondary,
	.type-interior .content-secondary {
		/*margin: 0px 0 20px 2%;*/
		padding: 5px 1% 0 0;
		background: none;
		border-top: none;
		position: relative;
		width: 49%;
	}
	.type-interior .content-secondary::after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		height: 1px;
		width: 1px;
		margin-bottom: -9999px;
		padding-bottom: 9999px;
		background: #bbb;
	}
	.type-index .content-secondary {
		padding: 0;
	}
	.content-secondary .ui-collapsible {
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content {
		border-left: none;
		border-right: none;
	}
	.type-index .content-secondary .ui-listview {
		margin: 0;
	}
	.ui-mobile #jqm-homeheader {
		padding: 0;
	}
	.content-primary {
		width: 49%;
		float: left;
		margin-top: 5px;
		margin-right: 0%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}
	/* collapsible non-inset example */
	.content-primary .ui-collapsible-content ul:first-child {
		margin-top: -10px;
	}
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.type-interior .content-primary {
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
	/* fix up the collapsibles - expanded on desktop */
	.content-secondary .ui-collapsible-inset {
		margin-bottom: -1px;
	}
	.content-secondary .ui-collapsible-heading {
		display: none;
	}
	.content-secondary .ui-collapsible-contain {
		margin:0;
	}
	.content-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content,
	.content-secondary .ui-collapsible-content > .ui-listview .ui-li-last {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.type-interior  .content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	
	#fieldset_on_off .ui-controlgroup-controls, #fieldset_slider .ui-controlgroup-controls
	{
		width: 78%!important
	}
	
	.part_title
	{
		font-family: sofiaregular;
		font-size: 15px !important;
		font-weight: normal !important;
	}
	
}
/*
@media all and (min-width: 750px){
	.type-home .ui-content {
		background-position: 39%;
	}
	.content-secondary {
		width: 31%;
	}
	.content-primary {
		width: 31%;
		padding-right: 1%;
	}
	
	#fieldset_on_off .ui-controlgroup-controls
	{
		width: 78%!important
	}
	
}
*/
@media all and (min-width: 1200px){

#deezer_plugin
{
	display: block;
	position: absolute;
}
#content_home
{
	/*margin-left: 200px;*/
}
	#data-maison
	{
		margin: 0 0 0px -1%;	
	}
	
	.type-home .ui-content{
		background-position: 38.5%;
	}
	.content-secondary {
		width: 32.5%;
		/*padding-right:6%;
		margin: 30px 0 20px 5%;*/
		margin: 0px 0 0px 2%;
	}
	
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 32.5%;
		/*margin-right: 5%;
		padding-right: 3%;*/
	}
	.type-interior .content-primary {
		width: 60%;
	}
		
	#fieldset_on_off .ui-controlgroup-controls, #fieldset_slider .ui-controlgroup-controls
	{
		width: 78%!important
	}
	/*.ui-grid-a>:nth-child(n)
	{
		width:49%;
		height:49%;
		font-size: 11.5pt;
		margin-left : 3px;
	}*/
		
	.part_title
	{
		font-family: sofiaregular;
		font-size: 18px !important;
		font-weight: normal !important;
	}
}

/* reset for popup examples */
.type-interior .ui-popup.ui-content,
.type-interior .ui-popup .ui-content {
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: visible;
}

/* tables documenting enum-type settings */
.enum-value {
	vertical-align: top;
	white-space: nowrap;
}

/* Navbar examples */
.content-primary > .ui-header,
.content-primary > .ui-footer {
    position: absolute;
    bottom: 0px;
	overflow: hidden;
}

/* list styles */
ul { margin:0; padding-left:0; }
ul li { list-style:none; margin:0; border-bottom:1px solid #e3e3e3; }

.ui-last-child {padding:.6em .5em !important; }

ul ul li { border: none;}

dl dd ul { padding-left: 40px; }
dl dd ul li { list-style: disc; }
dl dd ul li li { list-style: circle; }
dl dd ul li li li { list-style: square; }
dl dd ul li { border: none; }

ul.bullet li { list-style:square; padding:.4em 0; margin-left:1.2em; border-bottom:none; }


.ui-mobile-viewport .localnav li {
	border: none;	
}




#navbar a
{
	font-family: sofiaregular !important;
	font-size: 11pt !important;
	font-weight: normal !important;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-color: rgba(255,255,255,.3);
	border-left-color: none !important;
	background:transparent;
}

#navbar
{
	background:transparent;
}

#header
{
	background:rgba(0, 0, 0, 0.43) !important;
}

.qtip
{
	max-width: 50% !important;
}