body:before{
	content: "";
	position: absolute;
	background-image: url(../Core/pic/Background/bg_login.jpeg);
	background-size: cover;	
	z-index: -1;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100%;
	width: 100%;
}

body {
	background-image: url(../Core/pic/Background/bg_login.jpeg);
	color: #FFFFFF;	
	margin: 0;
	padding-top: 0px; 
}

.form-signin
{
	margin: 100px auto;
	max-width: 500px;
	color: #5d5d5d;
	background: rgba(242, 242, 242, 0.87);
	border-radius: 1.1em;
	padding: 26px;
}

.login-logo
{
	text-align: center;
	padding: 0 0 10px;
}

#CompagnyPic
{
	max-width: 30%;	
	max-height: 30%;
}