html ::-webkit-scrollbar
{
  width: 8px;
}

html ::-webkit-scrollbar-thumb
{
  background:#ddd;
} 

html ::-webkit-scrollbar-track-piece
{
  background-color: rgba(255, 255, 255, 0);
}

html, body
{
	height:100%;
}

 body
{
  /* background: url("images/img01.jpg") repeat scroll 0 0 #202020;*/    
  /*background-image: url("../Core/pic/Background/triangle-background-17.png"); */
  background: url("../Core/pic/Background/triangle-background-17.png") no-repeat  center center fixed ;
  font-family: "Segoe Print",sofiaregular,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 55px; 
  background-size: cover !important;
  /*background-image : url("https://ggogvg.files.wordpress.com/2013/04/wallpaper-fonds-decran-chemin-long-full-hd-2013_04_02-10_42_32-utc.jpg?w=1400&h=&crop=1");
  background-image:  url("http://docs.oracle.com/javafx/2/get_started/background.jpg");
  display: flex;
  min-height: 100vh;
  flex-direction: column;*/
}

/*
 body:before
{
  content: "";
  position: absolute;
  background-image: url("../Core/pic/Background/triangle-background-17.png"); 
  background-size: cover; 
  z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 90%;
  width: 100%;
}*/

.modal-dialog.modal-lg
{
  width: 90%;
}

.dhtmlx_message_area
{  
    z-index: 2000 !important;
}
.dhtmlx-messageSuccess div
{  
    background-color: #dff0d8;
    border-color: #3c763d;
}

[data-type="Action"]
{
  cursor: pointer;
}

#Loading
{  
  width: 100%;
  height: 100%;
  position: fixed;
  top: 38%;
  left: 45%;
  font-size: 15em;
  z-index: 99998;
}

ul.navbar-nav li
{  
  cursor: pointer;
}

#Container
{
  min-height :96.7%;
}

main div[role="tabpanel"]
{  
  min-height: 90vh;
}

legend
{ 
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


#Content-desktop legend
{	
	background-color: rgba(255, 255, 255, 0.65);
}

.Corner
{
  border-radius: 16.1px;
}

.Corner-bottom
{
  border-bottom-right-radius: 16.1px;
  border-bottom-left-radius: 16.1px;
}

.table .table
{
  background-color: transparent;
}

.table-borderless
{
  margin : 0px 0px 0px 0px;
}

.table.table-borderless td, .table.table-borderless th 
{
  border: none;
  padding-bottom: 3px;
  padding-top: 3px;
}

.DeviceContainer
{
  padding: 5px;
}

.SubContainer
{ 
  padding: 0px;
  margin-bottom: 15px;
  border-top: none;
} 

#Content-desktop .SubContainer
{	
  background-color: rgba(212, 212, 212, 0.65);
}

.DeviceContent
{
	padding: 0px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 7px;
	display: inline-block;
	/*border: 2px solid rgb(57, 107, 158);*/
	/*background-color:#0A8E7C;*/
	/*background-color: rgba(10, 142, 124, 0.35);*/
	min-width: 16.33%;
	user-select: none;
	cursor: default;
}

.Device_title
{  
  font-size: large;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.WidgetDate
{	
	font-size: smaller;
}

.popover
{
  min-width: 45vh;
}

#Content-desktop .Device_title
{
  background: lightseagreen; /*cornflowerblue;*/ 
}

.WidgetStatus-left
{
  text-align: left;
  vertical-align: middle !important;
}

.PannelSettings
{	
  position: absolute;
  top: 6px;
  right: 10px;
  text-align: center;
  cursor: pointer;
}

.DeviceDetail
{
    border: solid 1px;
    border-top: none;
    /*border-top-right-radius: 0px;
    border-top-left-radius: 0px; */
    border-color: lightseagreen; /*cornflowerblue;*/
    text-align:  center;
}

.dataTables_wrapper 
{
  background-color: rgba(255, 255, 255, 0.58);  
}

.dataTable > thead
{
    background: white;
}

.div_btn_device .img-circle
{	
  /*border-radius: 32px;*/
  /*width: 64px;*/
  height: 64px;
  background: rgba(100, 171, 167, 0.83);/*rgba(0, 0, 0, 0.458824);*/
  text-align: center;
}

input[type="color"]
{
  -webkit-appearance: none;
  padding: 0;
  border: none;
  width: 64px;
  height: 64px;
}

input[type="color"]::-webkit-color-swatch
{
  border: none;
  border-radius: 64px;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper
{
  border: none;
  border-radius: 64px;
  padding: 0;
}

.img_btn_device
{
	border:none;
	/*position: absolute;
	background: initial;
	top: 0px;
	left: 0px;*/
	width: 64px;
	height: 64px;
	position: relative;
}

.btn-add
{  
  border-radius: 50%;
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  display: inline-block;
  height: 56px;
  outline: none;
  text-align: center;
  width: 56px;
  transform: rotateY(0deg);
  position: absolute;
  /*top: 52;*/
  right: 4px;
  z-index: 100;
}

.dataTable
{
  width: 100% !important;
}

.dataTables-wrapper
{  
  background: rgba(255, 255, 255, 0.72);
  border-radius: 1.1em;
}

.dataTable tr.even
{
  background: white;
}

.bar
{
	height : 1em;
	border-radius: 30px;
	background: linear-gradient(to right, rgb(78, 207, 195) 0%,rgb(245, 225, 12) 22%,rgb(243, 127, 7) 60%,rgb(255, 19, 0) 86%) !important;
}

.circle
{
  font-size: 20px;
  line-height: 61px !important;
  text-shadow: 0px 1px #464a52 !important;
  cursor: pointer; 
}

.circle_on
{
	border: #12FF00;
	border-style: solid;
}

.circle_off
{
	border: red;
	border-style: solid;
}

.toggle.btn
{
  min-width: 77px !important;
}


input[type="range"]
{
	-webkit-appearance: none;
	border: 1px solid #666666;
}

input[type="range"]::-webkit-slider-thumb
{
	cursor: pointer;
	-webkit-appearance: none;
	position: relative;
	z-index: 1;
	top: 0px;
	width: 1.7em;
	height: 1.7em;
	border-radius: 40px;
	border: 1px solid #666666;
	/*background: #555555 url("css/jquery-ui/images/ui-bg_glass_20_555555_1x400.png") 50% 50% repeat-x;*/
	/*background: #555555 url("css/jquery-ui/images/ui-bg_glass_20_555555_1x400.png") 50% 50% repeat-x !important;*/
	background: linear-gradient(-45deg, #777777, rgba(119, 119, 119, 0) 65%) 100% 0, linear-gradient(45deg, #777777, rgba(119, 119, 119, 0) 65%), linear-gradient(-135deg, #777777, rgba(119, 119, 119, 0) 65%) 100% 100%, linear-gradient(135deg, #777777, rgba(119, 119, 119, 0) 65%) 0 100%, linear-gradient(-45deg, rgba(119, 119, 119, 0) 35%, #777777) 100% 0, linear-gradient(45deg, rgba(119, 119, 119, 0) 35%, #777777), linear-gradient(-135deg, rgba(119, 119, 119, 0) 35%, #777777) 100% 100%, linear-gradient(135deg, rgba(119, 119, 119, 0) 35%, #777777) 0 100% #ddd;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	background-size: 56% 56%;

	font-weight: bold;
	color: #eeeeee;
}